body{
	background-color: black;
}

#intro_profile{
    margin-top: 115px;
    vertical-align: middle;
    /* margin-left: auto; */
}

#ighor_profile{
 width: 250px;
 height: 250px;
 background-size: cover;
 display: block;
 border-top-left-radius: 100px;
 -webkit-border-top-left-radius: 100px;
 -moz-border-top-left-radius: 100px;
 border-bottom-right-radius: 100px;
 -webkit-border-bottom-right-radius: 100px;
 -moz-border-bottom-right-radius: 100px;
   display: block;
  margin-left: auto;
  margin-right: auto;
  vertical-align: center;
  margin-top: 50px;
    
}


.table {
    font-family: monospace;
    font-size: 18px;
    white-space: pre;
    color: #12c8ee;
}

.table2{
ont-family: monospace;
    font-size: 18px;
    white-space: pre;
    color: #00ff00;
}
.basic_text{
	color: white;
}

#links_logo{
 width: 35px;
 height: 25px;
}

.hover_img a { position:relative; }
.hover_img a span { position:absolute; display:none; z-index:99; }
.hover_img a:hover span { display:block; }


a.button5{
     display:inline-block;
     padding:0.46em 1.6em;
     border:0.1em solid #000000;
     margin:0 0.2em 0.2em 0;
     border-radius:0.12em;
     box-sizing: border-box;
     text-decoration:none;
     font-family:'Roboto',sans-serif;
     font-weight:300;
     color:#000000;
     text-shadow: 0 0.04em 0.04em rgba(0,0,0,0.35);
     background-color:#FFFFFF;
     text-align:center;
     transition: all 0.15s;
    }
    a.button5:hover{
     text-shadow: 0 0 2em rgba(255,255,255,1);
     color:#FFFFFF;
     border-color:#FFFFFF;
    }
    @media all and (max-width:30em){
     a.button5{
      display:block;
      margin:0.4em auto;
    }
} 



/*
Blog CSS
*/

body {
    font-family: Arial;
    padding: 20px;
    /* background: #f1f1f1; */
    background: black;
  }
  
  /* Header/Blog Title */
  .header {
    padding: 30px;
    font-size: 40px;
    text-align: center;
    background: white;
  }
  
  /* Create two unequal columns that floats next to each other */
  /* Left column */
  .leftcolumn {
    float: left;
    width: 65%;
  }
  
  /* Right column */
  .rightcolumn {
    float: left;
    width: 25%;
    padding-left: 20px;
  }
  
  /* Fake image */
  .fakeimg {
    background-color: #aaa;
    width: 100%;
    padding: 20px;
  }
  
  /* Add a card effect for articles */
  .card {
    /* background-color: white; */
    background-color: #00FF00;
    padding: 20px;
    margin-top: 20px;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Footer */
  .footer {
    padding: 20px;
    text-align: center;
    background: #ddd;
    margin-top: 20px;
  }
  
  /* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 800px) {
    .leftcolumn, .rightcolumn {
      width: 100%;
      padding: 0;
    }
  }